.footer {
    position: fixed;
    width: 100%;
    color: var(--tertiary);
    background-image: linear-gradient(to right, var(--secondary),var(--primary));
    opacity: 8;
    left: 0;
    bottom: 0;
    height: 50px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}