* {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
} 
/*
a {
    text-decoration: none;
} */

html {
    --primary: black;
    --secondary: white;
    --tertiary: rgb(80, 80, 80);
    font: 20px/1.618 sans-serif;
}

body {

}

#app {
    width: minmax(300px, 50wh);
}

li {
    list-style-type: none;
}

.h1 {
    font-size: 42px;
}



